<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>About:</strong>
  <%= @restaurant.about %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @restaurant.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @restaurant.website %>
</p>

<p>
  <strong>Monday hours:</strong>
  <%= @restaurant.monday_hours %>
</p>

<p>
  <strong>Tuesday hours:</strong>
  <%= @restaurant.tuesday_hours %>
</p>

<p>
  <strong>Wednesday hours:</strong>
  <%= @restaurant.wednesday_hours %>
</p>

<p>
  <strong>Thursday hours:</strong>
  <%= @restaurant.thursday_hours %>
</p>

<p>
  <strong>Friday hours:</strong>
  <%= @restaurant.friday_hours %>
</p>

<p>
  <strong>Saturday hours:</strong>
  <%= @restaurant.saturday_hours %>
</p>

<p>
  <strong>Sunday hours:</strong>
  <%= @restaurant.sunday_hours %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @restaurant.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @restaurant.twitter %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @restaurant.instagram %>
</p>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
