<div class="container">
  <div class="row">
      <div class="col-md-8">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Edit My Account</h3>
            </div>
            <div class="panel-body">
              <div class="form-inputs">
               <%= gravatar_tag @user.email, :size => 80 %>
               <%= f.input :name, required: true, autofocus: true %>
               <%= f.input :user_name, required: true %>
               <%= f.input :city, required: true %>
               <%= f.input :email, required: true %>

                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                <% end %>

                <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
                <%= f.input :password_confirmation, required: false %>
                <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
              
              </div><!-- end form-inputs -->
              <div class="form-actions">
                <%= f.button :submit, "Update", class: "btn btn-success" %>
              </div>
            </div>
            <div class="panel-footer"><%= link_to "Back", :back, class: "btn btn-link" %></div>
          </div>
      </div><!-- end col-md-8 -->
    <% end %>
    <div class="col-md-4">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Danger Zone!!!</h3>
        </div>
        <div class="panel-body">
          <p>Unhappy? We will be very sad to see you leaving, but if you must.....</p> 
          <p><%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>
        </div>
      </div>
    </div><!-- end col-md-4 -->
  </div><!-- end row -->
</div><!-- end container -->



  




